<div class="card-receipt">
  <div class="box-uno">
    <div class="content-header">
      <div class="content-name"><p>Teressa Boulnes, DATE, Time</p></div>        
      <div class="content-info"><p>Paseo de las Naranjas, 28 D, CP</p></div>        
    </div>
    <div class="content-logo">
    </div>
  </div>
  <div class="box-two">
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Producto</th>
      <th scope="col">€/kg</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">2</th>
      <td>Naranjas de zumo</td>
      <td>2.20</td>
      <td>4.80</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Mandarina</td>
      <td>3.20</td>
      <td>18.40</td>
    </tr>
    </tbody>
    </table>
    <div class="align-right">
    <p>Con un total ... 18,20€</p>
    </div>
  </div>
  <div class="box-three">
    <p>gracias por su compra: recordamos</p>
    <i class="fab fa-instagram"> NaranjasNaranjas.es</i><br>
     <i class="fab fa-whatsapp"> 676 780 254</i>
  </div>
</div>


